# Исключаем IDE-файлы
.idea/
.vscode/

# Node.js зависимости
node_modules/
!node_modules/bcrypt/
!node_modules/bcrypt/**

# macOS системные файлы
.DS_Store

# Временные файлы
*.log
*.tmp
*.swp

# Переменные окружения
.env.example
env
